<!-- <button class="btn btn-primary" (click)="login()">login</button> -->
<div class="login_page row m-0">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="login_section ">
                <h1 class="sign_head text-center">Sign In</h1>
                <div class="row justify-content-center">
                     <div class="col-7">
                        <form class="form_page" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email" class="user">Email </label>
                                <input type="email" formControlName="email" class="form-control" id="email"
                                    name="email">
                                    <div *ngIf="submitted && f.email.errors" class="error pos_absolute">
                                        <div *ngIf="f.email.errors.required"> Email id is required</div>
                                        <div *ngIf="f.email.errors.email">Valid email id is required</div>
                                    </div>
                            </div>
        
                            <div class="form-group pass">
                                <label for="password" class="user">Password</label>
                                <input type="password" formControlName="password" class="form-control"
                                    id="password" name="password">
                                <div *ngIf="submitted && f.password.errors" class="error pos_absolute">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                             <div class="forgot">
                                <a routerLink="/forgot-password" class="forgot">Forgot Password?</a>
                             </div>
                             <div *ngIf="errorMsgFlag" class="error pos_absolute error_text">
                                {{errorMsg}}
                            </div>
                             <div class="signin">
                                <button class="btn  signup_btn " >Sign In</button>
                             </div>
                            
                                
                            
                        </form>
                        <div class="or_section text-center">
                            <p>Or</p>
                         </div>
                         <div class="signin">
                            <button class="btn  signin_btn " (click)="SignWithGoogle()"><img class="goog_img" src ="../../../assets/images/google.png">Sign In With Google</button>
                         </div>   
                            
                         <div class="text-center ">
                            <p class="signup">Don't have an account?<a class="forgot" href="" routerLink="/signup"> Signup
                                    now!</a></p>
                        </div>
                     </div>
                </div>
                
            </div>
        </div>
    </div>
</div>